:root{
    --primary:#76e9fd;
    --secondary:#15c8e7;
    --gray:#c7c7c7;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: all 0.5s ease;
    outline: none;
}
body{
    width: 100%;
    overflow-x:hidden;
    background-color: #333;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb{
    background: var(--primary);
}
::-webkit-scrollbar-thumb:hover{
    background: var(--secondary);
}

header{
    height: 100vh;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1{
    font-size: 8em;
    background: url(../img/two-tone-blurred-background-6-big.jpg);
    
    color:transparent;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    -webkit-background-clip: text;
}
nav{
    height:100vh;
    position:fixed;
    top:0;
    bottom:0;
    left:unset;
    right:-100%;
    background-color: rgb(26, 26, 26);
    z-index:100;
}
nav:target{
    right:0;
    left:0;
}
nav ul{
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
nav li a{
    text-decoration:none;
    color: #fff;
    font-size: 3em;
    text-transform: uppercase;
}
.menu-icon{
    display: inline-block;
    width: 50px;
    padding: 5px;
    position: absolute;
    right: 20px;
    top: 20px;
}
.menu-icon span{
    display:block;
    width: 100%;
    border-bottom: 2px solid #fff;
    margin-bottom: 10px;
}
#close-icon span:first-of-type{
    transform:rotate(45deg) translate(8px,8px);
}
#close-icon span:last-of-type{
    transform:rotate(-45deg);
}
.owl-carousel{
    margin-top: 50px;
    padding:50px;
}
.gallery{
    height: 100vh;
    display:grid;
    grid-gap: 70px;
    grid-template-columns: auto auto auto;
    justify-content:space-evenly;
    align-content: center;
}
.gallery figure{
    text-align:center;
}
.gallery img{
    /* max-width:100%; */
    width:200px;
    height: 200px;
    object-fit: cover;
}
.gallery figure{
    position: relative;
}
.gallery figcaption{
    opacity: 0;
    visibility: hidden;
    display:flex;
    justify-content:center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color:rgba(255,255,255,0.5);
    position: absolute;
    bottom: -100%;
}
.gallery img:hover+figcaption{
    opacity: 1;
    visibility: visible;
   bottom:0;
}
.gallery figcaption:hover{
    opacity: 1;
    visibility: visible;
   bottom:0;
}
.container{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.contact{
    width: 25%;
}
.contact input,.contact textarea{
    width: 100%;
    display:block;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--gray);
    font-size: 1em;
    padding: 10px;
    margin-bottom: 25px;
    background-color: transparent;
}
.contact input:focus,.contact textarea:focus{
    border-bottom-color: #fff;
}
.contact input:focus + label,.contact textarea:focus + label{
    top:-100px;
    color: #fff;
}
.contact label{
    color:var(--gray);
    font-weight:100;
    position: relative;
    top: -50px;
}
.contact button{
    background-color: transparent;
    border: 1px solid var(--gray);
    padding: 10px 15px;
    color: var(--gray);
    width: 100%;
    font-weight:100;
    font-size: 1em;
}
.contact button:hover{
    background-color: var(--gray);
    color: #333;
    cursor: pointer;
}
.about{
    padding: 50px;
}
.about h1,h2,h3,p{
    color: var(--gray);
    font-weight: 300;
    line-height: 2;
}
.parralax{
    height:400px;
    background-image: url(../img/two-tone-blurred-background-6-big.jpg);
    background-attachment: fixed;
    background-size:cover;
}
